@model IEnumerable<Cafe.Models.Galeri>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a class="btn btn-primary" asp-action="Create">Resim Ekle</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Resim
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img style="max-width: 25%; max-height: 25%;  object-fit: cover;    object-fit: contain; " src="@item.Image">
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript">
        let table = new DataTable('#myTable');
    </script>
}