@model IEnumerable<Cafe.Models.Menu>
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/Site/images/bg-title-page-01.jpg);">
	<h2 class="tit6 t-center">
		Menü Listesi
	</h2>
</section>
<div class="section-gallery p-t-118 p-t-20">
	<div class="wrap-label-gallery filter-tope-group size27 flex-w flex-sb-m m-l-r-auto flex-col-c-sm p-l-15 p-r-15 m-b-60">
		<button class="label-gallery txt26 trans-0-4 is-actived" data-filter="*">
			All Photo
		</button>

		<button class="label-gallery txt26 trans-0-4" data-filter=".interior">
			Interior
		</button>

		<button class="label-gallery txt26 trans-0-4" data-filter=".food">
			Food
		</button>

		<button class="label-gallery txt26 trans-0-4" data-filter=".events">
			Events
		</button>

		<button class="label-gallery txt26 trans-0-4" data-filter=".guests">
			Vip guests
		</button>
	</div>
</div>
@**************************Menü***************************@
<section class="section-lunch bgwhite">


	<div class="container">
		<div class="row p-t-10 ">
			@foreach (var item in Model)
			{
				<div class="col-md-8 col-lg-6 m-l-r-auto">
					<!-- Block3 -->
					<div class="blo3 flex-w flex-col-l-sm m-b-30">
						<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
							<a><img src="@item.Image" alt="IMG-MENU"></a>
						</div>

						<div class="text-blo3 size21 flex-col-l-m">
							<a href="#" class="txt21 m-b-3">
								@item.Title
							</a>

							<span class="txt23">
								@item.Description
							</span>

							<span class="txt22 m-t-20">
								@item.Price ($)
							</span>
						</div>
					</div>
				</div>
			}


		</div>
	</div>
</section>